<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/Site.css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <style>
            h3
    {
        padding:5px;
        border-radius: 3px 3px;
        width:100%;
        color:white;
        background-color:#173a71;
    }

            h3, h3 a
            {
                        font-weight:normal;
        font-size:12pt;

            }
            h3 a{
                color: Highlight;
            }

            

    </style>
</head>
<body>
    
    <div class="container-fluid body-content">
        @RenderBody()
        <footer class="footer">
            <div class="footerContainer container">
                <p class="text-muted">© @DateTime.Now.Year, Milyli Inc. All Rights Reserved</p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/tools")
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>