@using Newtonsoft.Json
@model JobScheduleModel
@{
    ViewBag.Title = Model.JobSchedule.Name;
    var days = new List<string>() { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
}
<style>
    .required label::after{
        content : " (required)";
    }

    .invalid label{
        font-style : italic;
        color: #af4c4c;
    }

    #mask {
        position:fixed;
        height:100%;
        width:100%;
        top:0px;
        left:0px;
        background: rgba(0,0,0,0.3);
        display : none;
    }

    .day-picker ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    
    .schedule
    {
        display : flex;
        flex-direction : row;
        flex-wrap: wrap;
    }

    .schedule-section
    {
        flex-grow : 1;
    }

    .schedule-footer
    {
        flex-basis : 100%;
    }
    .schedule h4
    {
        font-weight : bold;
    }
    #JobName
    {
        width:80%;
    }
    .job-details label
    {
        min-width: 15em;        
    }
    .job-details label::after
    {
        content : ":";        
    }

    .run-script-container
    {
        display:none;
    }

    button:disabled
    {
        color: gray;
    }
</style>

<div id="edit-schedule">
    <div id="mask"></div>
        <h3>Job Schedule Details - @Model.JobSchedule.Name</h3>
    <div class="schedule">
        <div class="schedule-section">
            <div class="job-details">
                <h4>Job Details</h4>
                <div data-bind="with: JobSchedule">
                    <label>Job Name</label><input id="JobName" type="text" data-bind="value : Name"  maxlength="255" /><br />
                    <label>Last Execution Time</label><span data-bind="text : LastExecutionTimeString"></span><br />
                    <label>Next Execution Time</label> <span data-bind="text : NextExecutionTimeString"></span><br />
                    <label>Exectues At</label> 
                    <input data-bind="value : ExecutionTimeHours" type="number" min="1" max="12" step="1"/>:<input data-bind="value : ExecutionTimeMinutes" type="number" min="0" max="59" step="1"/>
                    <select data-bind="value:ExecutionTimeMeridian">
                        <option>AM</option>
                        <option>PM</option>
                    </select>
                </div>
                <div data-bind="with: RelativityWorkspace">
                    <label>Workspace</label><a href="@Url.Action("List", "RelativityScript", new { relativityWorkspaceId = Model.RelativityWorkspace.WorkspaceId })">@Model.RelativityWorkspace.Name</a>
                </div>
                <div data-bind="with: RelativityScript">
                    <label>Script</label><a data-bind="text : Name"
                                            href="@Url.Action("Script", "RelativityScript",
                                                 new { relativityWorkspaceId = Model.RelativityWorkspace.WorkspaceId, relativityScriptId = Model.RelativityScript.RelativityScriptId })"></a> (<span data-bind="text : RelativityScriptId"></span>)
                </div>
                <div>
                    <label>Job Status</label><span data-bind="text : JobStatusName"></span>
                    <span data-bind="if : AllowRun">
                        <button data-bind="click: RunJob">Run</button>
                    </span>
                    <span data-bind="ifnot : IsNew">
                        <span data-bind="if: JobSchedule.JobEnabled">
                            <button data-bind="click: DisableJob">Disable</button>
                        </span>
                        <span data-bind="ifnot: JobSchedule.JobEnabled()">
                            <button data-bind="click: EnableJob">Enable</button>
                        </span>
                    </span>
                </div>
            </div>
            <div>
                <h4>Execution Time</h4>
            </div>
            <div class="day-picker">
                <h4>Runs On</h4>
                <ul>
                    @foreach (var day in days)
                    {
                        <li>
                            <input type="checkbox" data-bind="checked: @day" />
                            <label>@day</label>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="schedule-section">
            <h4>Script Inputs</h4>
            <div data-bind="foreach: JobScriptInputs" class="script-inputs">
                <div class="input-container" data-bind="css: { required : IsRequired(), invalid : IsInvalid() }">
                    <label data-bind="text: InputName">
                    </label>
                    <div data-bind="ifnot : Options">
                        <input type="text" data-bind="value: InputValue" />
                    </div>
                    <div data-bind="if: Options">
                        <select data-bind="options: Options, optionsText : 'name', optionsValue : 'value', value: InputValue"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedule-footer">
            <div data-bind="css : { 'error-notification' : IsInvalid() }, text : InvalidText"></div>
            <button id="save-job-schedule" data-bind="click: SaveJobSchedule, disable: IsInvalid, attr {title : InvalidText}">Save</button>
        </div>
        <div class="run-script-container">
            <iframe id="run-script" src="/Relativity/Case/RelativityScript/Run.aspx?AppID=@Model.RelativityWorkspace.WorkspaceId&ArtifactID=@Model.RelativityScript.RelativityScriptId"></iframe>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        //Used by the RunScript iframe.  Yes this is janky.
        function ResetTimeout()
        {

        };

        function unmask()
        {
            $("#mask").css("display", "none");
        };

        function mask()
        {
            $("#mask").css("display", "block");
        };

        function MakeOptionsArray($inputContainerElement)
        {
            return $inputContainerElement.find("option")
                .map(function(idx, element)
                {
                    var $element = $(element);
                    return {
                        value: $element.attr("value"),
                        name : $element.text()
                    };
                })
                .toArray();
        }

        //Yes we're finding script input DDLs by scraping. Yes this is janky. I have tried looking for a better way to grab input values in a better manner
        //but none of the RSAPI mechanisms for Relativity Scripts seems geared toward populating input lists.
        function getInputValues()
        {
            return $("#run-script").contents()
                                    .find("table.fieldTable")
                                    .map(function(idx, element)
                                    {
                                        var $element = $(element);
                                        var inputId = $element.find("tr:first").attr("id");
                                        var options = MakeOptionsArray($element);                                        
                                        return {
                                            inputId : inputId,
                                            options : options
                                        };
                                    })
            .toArray()
            .reduce(function(accum, curr){
                if(curr.options && curr.options.length)
                {
                    accum[curr.inputId] = curr.options;
                }
                return accum;
            },{});
        };


        var days  = @Html.Raw(JsonConvert.SerializeObject(days));
        var JobStatus =
        {
            "0" : "Idle",
            "1" : "Waiting",
            "2" : "Running"
        };

        toTimeString = function(timeString)
        {
            if(timeString)
            {
                var date = new Date(timeString.replace('T', ' '));
                if(!isNaN(date.getDay()))
                {
                    return date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
                }
            }
            return "Unknown";
        }

        $("#run-script").on("load", function()
        {
            var selectableInputValues = getInputValues();
            var options = {
                extend: {
                    "{root}.JobScriptInputs[i]" : function(JobScriptInput)
                    {
                        JobScriptInput.Options = selectableInputValues[JobScriptInput.InputId()];
                        JobScriptInput.SelectedValue = ko.observable();

                        JobScriptInput.IsInvalid = ko.computed(function()
                        {
                            var currentValue = JobScriptInput.InputValue();
                            return JobScriptInput.IsRequired() && !(currentValue && currentValue.trim && currentValue.trim());
                        });
                    },

                    "{root}.JobSchedule" : function(JobSchedule)
                    {
                        JobSchedule.NextExecutionTimeString = ko.computed(function(){
                            return toTimeString(JobSchedule.NextExecutionTime());
                        });

                        JobSchedule.LastExecutionTimeString = ko.computed(function(){
                            return toTimeString(JobSchedule.LastExecutionTime());
                        });

                        (function ()
                        {
                            var time = JobSchedule.ExecutionTime();
                            var minutes = Math.floor(time / 60);
                            var hours = Math.floor(minutes / 60);
                            var meridian = hours >= 12 ? "PM" : "AM";
                            hours = hours == 0 ? 12 : hours > 12 ? hours - 12 : hours;
                            var minuteValue = minutes % 60;
                        
                            JobSchedule.ExecutionTimeHours = ko.observable(hours);
                            JobSchedule.ExecutionTimeMinutes = ko.observable(minuteValue < 10 ? "0"+minuteValue : minuteValue);
                            JobSchedule.ExecutionTimeMeridian = ko.observable(meridian);
                        })();

                        var setTime = function(inputHours, inputMinutes, meridian)
                        {
                            var hours = parseInt(inputHours);
                            if(meridian=== "PM" && hours !== 12)
                            {
                                hours+=12;
                            }
                            if(meridian === "AM" && hours === 12)
                            {
                                hours = 0;
                            }
                            var minutes = parseInt(inputMinutes);
                            var timeSeconds = ((hours * 60) + minutes) * 60;
                            JobSchedule.ExecutionTime(timeSeconds);
                        }

                        JobSchedule.ExecutionTimeHours.subscribe(function(newValue)
                        {
                            setTime(newValue, JobSchedule.ExecutionTimeMinutes(), JobSchedule.ExecutionTimeMeridian());
                        });

                        JobSchedule.ExecutionTimeMinutes.subscribe(function(newValue)
                        {
                            setTime(JobSchedule.ExecutionTimeHours(), newValue, JobSchedule.ExecutionTimeMeridian());
                        });
                        JobSchedule.ExecutionTimeMeridian.subscribe(function(newValue)
                        {
                            setTime(JobSchedule.ExecutionTimeHours(), JobSchedule.ExecutionTimeMinutes(), newValue);
                        });
                    },

                    "{root}" : function(JobScheduleModel)
                    {
                        JobScheduleModel.AllowRun = ko.computed(function(){
                            return JobScheduleModel.JobSchedule.JobEnabled() && !JobScheduleModel.IsNew()
                        });

                        JobScheduleModel.JobStatusName = ko.computed(function()
                        {
                            if (JobScheduleModel.IsNew())
                            {
                                return "New";
                            }

                            if(!JobScheduleModel.JobSchedule.JobEnabled())
                            {
                                return "Disabled";
                            }

                            var status =  JobScheduleModel.JobSchedule.JobStatus();
                            if (JobStatus[status])
                            {
                                return JobStatus[status];
                            }
                            return "Unknown";
                        });

                        JobScheduleModel.InvalidInputs = ko.computed(function()
                        {
                            var invalidInputs = JobScheduleModel.JobScriptInputs()
                            .filter(function (jobScriptInput)
                            {
                                return jobScriptInput.IsInvalid();
                            })
                            .map(function (jobScriptInput)
                            {
                                return jobScriptInput.InputName();
                            });
                            return invalidInputs;
                        })

                        JobScheduleModel.IsInvalid = ko.computed(function()
                        {


                            var isInvalid = JobScheduleModel.InvalidInputs().length > 0;
                            return isInvalid;
                        });

                        JobScheduleModel.InvalidText = ko.computed(function()
                        {
                            if(JobScheduleModel.IsInvalid())
                            {
                                return "Inputs are required by invalid: " + JobScheduleModel.InvalidInputs().join(", ");
                            }
                            else
                            {
                                return "";
                            }
                        });

                        $("#edit-schedule").on("jsi:validate", function(event){
                            JobScheduleModel.Validate();
                        });


                        var schedule = JobScheduleModel.JobSchedule.ExecutionSchedule();
                        $.each(days, function (idx, day) {
                            var dayEnabled = (schedule & (1 << idx)) > 0;
                            JobScheduleModel[day] = ko.observable(dayEnabled);
                            JobScheduleModel[day].subscribe(function (newValue) {
                                var oldSchedule = JobScheduleModel.JobSchedule.ExecutionSchedule();
                                var mask = newValue ? 1 << idx :  ~(1 << idx);
                                var newSchedule = newValue ? oldSchedule | mask : oldSchedule & mask;
                                JobScheduleModel.JobSchedule.ExecutionSchedule(newSchedule);
                            });
                        });
                    }
                }
            };
            var viewmodel = ko.viewmodel.fromModel(@Html.Raw(JsonConvert.SerializeObject(Model)), options);
            
            viewmodel.SaveJobSchedule = function()
            {
                mask();
                $.ajax({
                    type :'POST',
                    url: "@Url.Action("Save")",
                    processData : false,
                    dataType: 'json',
                    contentType: "application/json",
                    data : ko.toJSON(ko.viewmodel.toModel(viewmodel))
                })
                .done(function(data)
                {
                    ko.viewmodel.updateFromModel(viewmodel, data)
                })
                .always(function(data)
                {
                    unmask();
                });
            };

            viewmodel.DisableJob = function()
            {
                viewmodel.JobSchedule.JobEnabled(false);
                viewmodel.SaveJobSchedule();
            };

            viewmodel.EnableJob = function()
            {
                viewmodel.JobSchedule.JobEnabled(true);
                viewmodel.SaveJobSchedule();
            };


            viewmodel.RunJob = function(jobScheduleModel)
            {
                mask();
                $.ajax({
                    type :'POST',
                    url: "@Url.Action("Run")",
                    processData : false,
                    dataType: 'json',
                    contentType: "application/json",
                    data : ko.toJSON(jobScheduleModel.JobSchedule)
                })
                .done(function(data)
                {
                    ko.viewmodel.updateFromModel(viewmodel, data)
                })
                .always(function(data)
                {
                    unmask();
                });
            };
            ko.applyBindings(viewmodel, $("#edit-schedule")[0]);
        });
    </script>
}

